<table id="<%= controller_name %>">
  <tr>
    <th>ID</th>
    <th>User</th>
    <th>Method</th>
    <th>Url</th>
    <th>Date</th>
  </tr>
  <% @user_logs.each do |user_log| %>
      <tr>
        <td><span>+</span><%= user_log.id %></td>
        <td class="name"><%= user_log.user.email unless user_log.user.nil? %></td>
        <td><%= user_log.method %></td>
        <td><%= user_log.request_uri %></td>
        <td><%= user_log.created_at.strftime('%Y %b %d %I:%M:%S %p') %></td>
      </tr>
      <tr class="hide">
        <td colspan="5"><%= user_log.method %></td>
      </tr>
  <% end %>
</table>
<%= javascript_tag do %>
    var $table=$('#<%= controller_name %>');
    $table.find('span').on('click.toggleTr',function(){
    var $span=$(this),$tr=$span.parents('tr:first').next();
    if($tr.hasClass('hide')){$tr.removeClass('hide');$span.text('-');}else{$tr.addClass('hide');$span.text('+');}
    });
<% end %>