<div class="panel panel-default">
    <div class="panel-heading"><%= controller_name.singularize.humanize %></div>
    <table id="<%= controller_name %>" class="table">
        <%= user_th %>
        <% @user_logs.each do |user_log| %>
            <%= user_td(user_log, '<span class="toggle-trace glyphicon glyphicon-plus"></span>') %>
            <%= user_trace(user_log, ' class=hide') %>
        <% end %>
    </table>
    <%= load_pretty_print(false) %>
    <%= bind_events(%w(.user-params .user-session)) %>
    <div class="panel-footer text-center">
        <%= will_paginate @user_logs %>
    </div>
</div>