<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= controller_name.singularize.humanize %>
      <span class="badge"><%= @user_logs_all.length %></span>
    </h3>
  </div>
  <table id="<%= controller_name %>" class="table">
    <%= user_log_th %>
    <% @user_logs.each do |user_log| %>
      <%= user_log_td(user_log, '<span class="toggle-trace fa
        fa-plus"></span><span class="toggle-trace fa
        fa-minus hide"></span>') %>
        <%= user_log_trace(user_log, ' class=hide') %>
    <% end %>
  </table>
  <%= bind_events(%w(.user-params .user-session)) %>
  <div class="panel-footer text-center">
    <%= will_paginate @user_logs %>
  </div>
</div>