<table id="<%= controller_name %>">
  <%= user_th %>
  <%= user_td(@user_log, '<span>+</span>') %>
  <%= user_trace(@user_log, ' class=hide') %>
</table>
<%= load_pretty_print(false) %>
<%= bind_events(%w(.user-params .user-session), true) %>