<p id="notice"><%= notice %></p>

<h1>Listing Error Logs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @error_logs.each do |error_log| %>
      <tr>
        <td><%= link_to 'Show', error_log %></td>
        <td><%= link_to 'Edit', edit_error_log_path(error_log) %></td>
        <td><%= link_to 'Destroy', error_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Error log', new_error_log_path %>
