<table id="<%= controller_name %>">
  <%= error_th %>
  <% @error_logs.each do |error_log| %>
      <%= error_td(error_log, '<span>+</span>') %>
      <%= error_trace(error_log, ' class=hide') %>
  <% end %>
</table>
<%= load_pretty_print(false) %>
<%= bind_events %>
<%= will_paginate @error_logs %>