<%= form_for(@author_site_storage) do |f| %>

    <%= render_notification(@author_site_storage) %>
    <%= render_text_field(f, :key) %>
    <%= render_text_area(f, :content) %>
    <%= render_collection(f, 'Type', {
                                   id: :site_type_id,
                                   collection: @author_site_types,
                                   index: :id,
                                   value: :name
                           }) %>

    <% versions = @author_site_storage.author_site_versions %>
    <% if versions.length > 0 %>
        <ul>
          <%= f.fields_for :author_site_versions do |fv| %>
              <li>
                <div class="field">
                  <%= fv.label :version %>
                  <%= fv.collection_select(:id, @author_site_storage.author_site_versions, :id, :version) %>
                </div>
                <%= render_checkbox(fv, :activated) %>
              </li>
          <% end %>
        </ul>
    <% end %>

    <%= render_submit(f) %>

<% end %>
