<%= javascript_tag do %>
    function selectAll(e){var $c=$(e).attr('for')==="select_all_widgets"?"ul.widgets":$(e).next(),$w=$('input[type="checkbox"]',$c);$w.prop('checked',!$w.prop('checked'));updateCounter();}
    function updateCounter(){var $l=$('label[for="select_all_widgets"]');$l.text($l.text().replace(/\d+/,$('input[type="checkbox"]:checked').length));}
<% end %>
<%= form_for(@author_site_storage) do |f| -%>

    <%= render_notification(@author_site_storage) -%>
    <%= render_text_field(f, :key, !@author_site_storage.key.nil?) -%>
    <%= render_text_area(f, :content) -%>
    <%= render_checkbox(f, :publish) -%>
    <%= render_collection(f, 'Type', {
                                   id: :site_type_id,
                                   collection: @author_site_types,
                                   index: :id,
                                   value: :name
                           }) -%>

    <%= render_activated_version(f) -%>

    <div class="field">
      <%= label_tag 'select_all_widgets',
                    "(Un)Select All widgets: #{@author_site_storage.author_widgets.size}",
                    {onclick: 'selectAll(this)'} %>
      <%= hidden_field_tag 'author_site_storage[author_site_storage_widget_ids][]', nil %>
      <ul class="categories">
        <% widget_ids = @author_site_storage.author_widget_ids %>
        <% Author::WidgetCategory.order(:name_value).each do |category| %>
            <li>
              <%= label_tag dom_id(category), category.name_value, {onclick: 'selectAll(this)'} %>
              <ul class="widgets">
                <% category.author_widgets.order(:name).each do |widget| %>
                    <li>
                      <%= check_box_tag 'author_site_storage[author_site_storage_widget_ids][]',
                                        widget.id,
                                        widget_ids.include?(widget.id), {
                                                id: dom_id(widget),
                                                onclick: 'updateCounter()'
                                        } %>
                      <%= label_tag dom_id(widget), widget.name, {title: "#{widget.name}\n#{widget.description}"} %>
                    </li>
                <% end %>
              </ul>
            </li>
        <% end %>
      </ul>
    </div>

    <%= render_submit(f) -%>

<% end -%>
