<%= form_for(item) do |f| -%>
    <% content = item.get_activated_version.content rescue nil %>
    <%= render_notification(item) -%>
    <%= render_text_field(f, :key) if is_action?('new') %>
    <%= render_field_tag(:text_area_tag, :content, content, true) unless is_action?('new') -%>
    <%= render_json(content, '.json-view') unless content.nil? %>

    <%= render 'author/author/item', f: f -%>

    <%= render_collection_field(f, t('type'), {
        id: :site_type_id,
        collection: types,
        index: :id,
        value: :name
    }) -%>

    <%= render_select_field(f, t('layout_type'), {
        id: :layout_type,
        collection: Author::SiteStorage.layout_types.keys
    })%>

    <%= render_activated_version(f) -%>
    <%= render 'author/site_storages/widgets/select_widgets' unless is_action?('new') %>
    <div class="panel-footer m-20">
      <%= cancel_button -%>
      <%= render_submit(f) -%>
    </div>
<% end -%>