<%= form_for(@author_site_storage) do |f| %>

    <%= render_notification(@author_site_storage) %>
    <%= render_text_field(f, :key) %>
    <%= render_text_area(f, :content) %>
    <%= render_collection(f, 'Type', {
                                   id: :site_type_id,
                                   collection: @author_site_types,
                                   index: :id,
                                   value: :name
                           }) %>
    <ul>
      <%= f.fields_for :author_site_versions do |fv| %>
          <li>
            <%= render_number_field(fv, :version, true) %>
            <%= render_checkbox(fv, :activated) %>
          </li>
      <% end %>
    </ul>

    <%= render_submit(f) %>

<% end %>
