<%= form_for(item) do |f| -%>
  <% content = item.get_activated_version.content rescue nil %>
  <%= render_notification(item) -%>
  <%= render_text_field(f, :key) if new? %>
  <%= render_field_tag(:text_area_tag, :content, content, true) unless new? -%>
  <%= render_json(content, '.json-view') unless content.nil? %>

  <%= render 'author/author/item', f: f -%>

  <div class="container m-0 p-0">
    <div class="row">
      <div class="col">
        <%= render_collection_field(f, t('type'), {
            id: :site_type_id,
            collection: types,
            index: :id,
            value: :name
        }) -%>
      </div>
      <div class="col">
        <%= render_select_field(f, t('layout_type'), {
            id: :layout_type,
            collection: Author::SiteStorage.layout_types.keys
        }) %>
      </div>
      <div class="col">
        <%= render_activated_version(f) -%>
      </div>
    </div>
  </div>
  <div class="card mt-5">
    <div class="card-header">
      <h6 class="card-title mb-0">
        All widgets
        <span class="badge badge-secondary">
          /<%= @author_site_storage.author_widgets.size %>
        </span>
      </h6>
    </div>
    <div class="card-body">
      <%= render 'author/site_storages/widgets/select_widgets' unless new? %>
    </div>
  </div>
<% end -%>