<%= link_to_icon(author_site_storage_widgets_path(item),
    t('widgets'),
    'fa-th-large',
    'dropdown-item') %>
<%= link_to_icon(author_site_storage_users_path(item),
    t('users'),
    'fa-user',
    'dropdown-item') %>
<div class="dropdown-divider with-text"><%= t('publish') %></div>
<%= link_to_icon(
        publish_path(item, item.get_activated_version),
        t('publish_activated'),
        'fa-lightbulb',
        'dropdown-item'
    ) unless item.get_activated_version.nil? %>
<%= link_to_icon(publish_path(item, item.get_last_version),
    t('publish_last'),
    'fa-lightbulb',
    'dropdown-item') %>
<div class="dropdown-divider with-text"><%= t('sites_versions') %></div>
<%= link_to_icon(author_site_storage_site_versions_path(item),
    t('sites_all_versions'),
    'fa-code-branch',
    'dropdown-item') %>
<%= link_to_icon(edit_author_site_storage_site_version_path(item, item.get_last_version),
    t('sites_latest_version'),
    'fa-code-branch',
    'dropdown-item') %>
<%= link_to_icon(edit_author_site_storage_site_version_path(item, item.get_activated_version),
    t('sites_activated_version'),
    'fa-code-branch',
    'dropdown-item') unless item.get_activated_version.nil? %>
<%= link_to_icon(edit_author_site_storage_site_version_path(item, item.get_published_version),
    t('sites_published_version'),
    'fa-code-branch',
    'dropdown-item') unless item.get_published_version.nil? %>