<% if @storage[:show].nil? %>
  <p class="undefined-site"><%= t('undefined_version') %></p>
<% elsif @storage[:content].nil? && is_consumption?(@storage[:mode]) %>
  <p class="undefined-site"><%= t('not_published') %></p>
<% else %>
  <!-- Loading content -->
  <%= javascript_tag do -%>
    window.localStorage.setItem('<%= @storage[:key] %>', '<%= @storage[:content] %>');
  <% end %>
  <!-- /Loading content -->
<% end %>
