<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>UUID</th>
    <th>Key</th>
    <th>Preview</th>
    <th>Version</th>
    <th>Destroy</th>
  </tr>
  </thead>
  <tbody>
  <% @author_site_storages.each_with_index do |author_site_storage, index| %>
      <% versions = author_site_storage.author_site_versions %>
      <% activated_version = versions.where(activated: true).first %>
      <% activate_version_url = activated_version.nil? ? author_site_versions_url : edit_author_site_version_path(activated_version) %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= author_site_storage.uuid %></td>
        <td class="name"><%= link_to author_site_storage.key, edit_author_site_storage_path(author_site_storage) %></td>
        <td class="c"><%= link_to "Show #{author_site_storage.key}", author_site_storage_url(author_site_storage) %></td>
        <td class="c"><%= link_to "#{activated_version.try(:version) rescue 'Activate'} (#{versions.length})", activate_version_url %></td>
        <td class="c"><%= link_to_destroy(author_site_storage, author_site_storage.key) %></td>
      </tr>
  <% end %>
  </tbody>
</table>