<ul class="admin-navigation inner">
  <% @author_site_storages.each_with_index do |author_site_storage, index| %>
      <% versions = author_site_storage.author_site_versions %>
      <% activated_version = versions.where(activated: true).first %>
      <li>
        <%= link_to author_site_storage.key, {}, {target: '_blank', href: "/sites/#{author_site_storage.key}"} %>
        <h4><%= author_site_storage.author_site_type.try(:name) %></h4>
        <h6><%= author_site_storage.uuid %></h6>

        <h3>
          <%= author_site_storage.author_widgets.length %><br/>
          <span><%= "#{t('widgets').downcase}" %></span>
        </h3>

        <div>
          <div>
            <ul class="menu arrow_box">
              <li><%= link_to t('preview'), {}, {target: '_blank', href: "/sites/#{author_site_storage.key}/consumption"} %></li>
              <li><%= link_to t('edit'), edit_author_site_storage_path(author_site_storage) %></li>
              <li><%= link_to_destroy(author_site_storage, author_site_storage.key) %></li>
            </ul>
          </div>
          <%= link_to t('version'), author_site_storage_site_versions_path(author_site_storage) %><%= ": #{activated_version.try(:version) || '?'} (#{versions.length})" %>
        </div>
      </li>
  <% end %>
</ul>