<% key = @storage[:key] %>
<% if @storage[:version].nil? %>
    <p>Undefined site version</p>
<% else %>
    <%= stylesheet_link_tag(
                stylesheet_path("../../assets/public/#{key}/css/general")
        ) %>
    <%= javascript_include_tag(
                'scripts/core/lib/require',
                'data-resource' => key,
                'data-version' => @storage[:version],
                'data-mode' => @storage[:mode],
                'data-main' => javascript_path('public/init'),
                'id' => 'require-init'
        ) %>

    <%= javascript_tag defer: 'defer', id: 'set-local-storage' do -%>
        window.localStorage['<%= key %>'] = '<%= @storage[:content] %>';
        var script = document.getElementById('set-local-storage');
        script.parentNode.removeChild(script);
    <% end -%>

<% end %>