<%= "0 >>>>>>>>>>>>>>>>>>>>>>  #{@storage.inspect}" %>
<% if @storage[:layout] == :js %>
    <% if @storage[:version].nil? %>
        <p class="undefined-site"><%= t('undefined_version') %></p>
    <% elsif @storage[:content].nil? && is_consumption?(@storage[:mode]) %>
        <p class="undefined-site"><%= t('not_published') %></p>
    <% else %>
        <%= render 'show_js', storage: @storage, current_user: current_user %>
    <% end %>
<% else %>
    <%= render 'show_template', storage: @storage, current_user: current_user %>
<% end %>
