<% method = is_action?('new') ? 'post' : 'put' %>
<% action = is_action?('new') ? 'create' : 'update' %>
<%= form_for(item, url: {controller: 'author/users', action: action}, method: method) do |f| %>

    <%= render_notification(item) %>
    <%= render_text_field(f, :name) %>
    <div class="panel-footer m-20">
      <%= cancel_button -%>
      <%= render_submit(f) -%>
    </div>

<% end %>