<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element text-center"><h1 class="logo-element">AntHill</h1></div>
                <div class="logo-element">AH+</div>
            </li>
            <%= render '/partials/left_menu_item',
                       url: '/',
                       active: is_active_url('author'),
                       icon: 'glyphicon-dashboard',
                       title: t('dashboard') %>
            <%= render '/partials/left_menu_item',
                       url: '#',
                       active: is_active_url('site_storages', 'site_types', 'site_versions'),
                       icon: 'glyphicon-globe',
                       title: t('sites_management'),
                       items: [
                               {title: t('sites_storage'), url: author_site_storages_path, active: is_active_url('site_storages')},
                               {title: t('site_types'), url: author_site_types_path, active: is_active_url('site_types')},
                               {title: t('sites_versions'), url: author_site_versions_path, active: is_active_url('site_versions')},
                       ] %>
            <%= render '/partials/left_menu_item',
                       url: '#',
                       active: is_active_url('widgets', 'widget_categories'),
                       icon: 'glyphicon-th-large',
                       title: t('widget_management'),
                       items: [
                               {title: t('widgets'), url: author_widgets_path, active: is_active_url('widgets')},
                               {title: t('widget_categories'), url: author_widget_categories_path, active: is_active_url('widget_categories')}
                       ] %>
            <%= render '/partials/left_menu_item',
                       url: '#',
                       active: false,
                       icon: 'glyphicon-user',
                       title: t('users_management'),
                       items: [
                               {title: t('users'), url: author_widgets_path}
                       ] %>
            <%= render '/partials/left_menu_item',
                       url: '#',
                       active: is_active_url('error_logs', 'user_logs', 'vulnerability_storages'),
                       icon: 'glyphicon-time',
                       title: t('logs_management'),
                       items: [
                               {title: t('error_logs'), url: error_logs_path, active: is_active_url('error_logs')},
                               {title: t('user_logs'), url: user_logs_path, active: is_active_url('user_logs')},
                               {title: t('vulnerability_storage'), url: vulnerability_storages_path},
                       ] %>
            <%= render '/partials/left_menu_item',
                       url: 'javascript:makeScreenshot($("body"))',
                       active: false,
                       icon: 'glyphicon-camera',
                       title: t('screenshot') %>
        </ul>
    </div>
</nav>
<%= javascript_tag do %>
    function makeScreenshot($target) {html2canvas($target, {onrendered: function(canvas) {window.open(canvas.toDataURL());}});}
    $('a[href="#"]').on('click',function(e){e.preventDefault();});
<% end %>