<% items = (defined? items).nil? ? nil : items %>
<li class="<%= active ? 'active' : '' %>">
    <%= link_to url, title: title do %>
        <i class="glyphicon <%= icon %>"></i>
        <span class="nav-label"><%= title %></span>
        <%= '<span class="fa arrow"></span>'.html_safe unless items.nil? %>
    <% end %>
    <% unless items.nil? %>
        <ul class="nav nav-second-level collapse<%= active ? 'in' : '' %>">
            <% items.each do |item| %>
                <li class="<%= item[:active] ? 'active' : '' %>">
                    <%= link_to item[:url], title: item[:title] do %>
                        <i class="<%= item[:icon] %>"></i>
                        <%= item[:title] %>
                    <% end %>
                </li>
            <% end %>
        </ul>
    <% end %>
</li>