<li class="nav-item dropdown">
  <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <%= image_tag user_image_url, class: 'user-image', alt: user_name %>
  </a>
  <div class="dropdown-menu dropdown-menu-right">
    <div class="dropdown-header text-center">
      <strong>Account</strong>
    </div>
    <div class="dropdown-item">
      <i class="fa fa-user-check"></i>
      Items owner<span class="badge badge-info"><%= items_owner %></span>
    </div>
    <div class="dropdown-item">
      <i class="fa fa-crosshairs"></i>
      Logs<span class="badge badge-success"><%= logs_owner %></span>
    </div>
    <div class="dropdown-item">
      <i class="fa fa-exclamation-triangle"></i>
      Errors<span class="badge badge-danger"><%= errors_owner %></span>
    </div>
    <div class="dropdown-item">
      <i class="fa fa-location-arrow"></i>
      <%= user_location %>
    </div>
    <%= member_since %>
    <%= do_logout('dropdown-item') %>
    <%= do_login('dropdown-item') %>
    <% %>
  </div>
</li>