<% check_widgets_ids = item.author_widget_ids + @author_site_storage.author_widget_ids %>
<% duplicated_ids = check_widgets_ids.select {|element| check_widgets_ids.count(element) > 1}.uniq.length %>
<li class="nav-item">
  <a class="nav-link <%= index == 0 ? 'active show' : '' %>"
     href="#<%= item.name_index %>"
     role="tab"
     data-toggle="tab">
    <%= item.name_value %>
    <span class="badge badge-secondary">
      <%= duplicated_ids %>/<%= item.author_widgets.length %>
    </span>
  </a>
</li>