<div class="card widget-info">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col bg-widget">
          <div class="card-img widget <%= widget_css_class(item) %>"></div>
        </div>
        <div class="col">
          <h5 class="card-title align-middle"><%= item.name %></h5>
        </div>
        <div class="col-7">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <%= check_box_tag 'author_site_storage[author_site_storage_widget_ids][]',
                    item.id,
                    widget_selected?(item), {
                        id: dom_id(item),
                        'aria-label': 'Checkbox for following widget'
                    } -%>
              </div>
            </div>
            <label class="form-control widget-description"
                   for="<%= dom_id(item) %>">
              <%= item.description %>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>