<div class="menu btn-group">
  <% style = 'default' %>
  <% style = 'warning' if @partial[:latest] == item %>
  <% style = 'success' if item.published %>
  <% style = 'info' if item.activated %>
  <button class="btn btn-<%= style %> btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-cog"></span>
    <%= t('options') %>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-left">
    <li><%= image_tag(item.screenshot, alt: item.author_site_storage.try(:key), class: 'thumbnail-preview') unless item.screenshot.nil? %></li>
    <li>
      <%= link_to(edit_author_site_storage_site_version_path(item.author_site_storage, item)) do %>
          <i class="fa fa-code-fork"></i><%= t('edit_site_version') %>
      <% end %>
    </li>
    <li class="dropdown-submenu">
      <a tabindex="-1">
        <i class="fa fa-code-fork"></i><%= t('site_current_version') %>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to_icon(version_path(item.author_site_storage, get_development.name, item.version), get_development.name.capitalize, 'glyphicon-globe', '_blank') %></li>
        <li><%= link_to_icon(version_path(item.author_site_storage, get_consumption.name, item.version), get_consumption.name.capitalize, 'glyphicon-globe', '_blank') %></li>
        <li><%= link_to_icon(version_path(item.author_site_storage, get_authoring.name, item.version), get_authoring.name.capitalize, 'glyphicon-globe', '_blank') %></li>
        <li><%= link_to_icon(version_path(item.author_site_storage, get_test.name, item.version), get_test.name.capitalize, 'glyphicon-globe', '_blank') %></li>
      </ul>
    </li>
    <li><%= link_to_icon(edit_author_site_storage_site_version_path(item.author_site_storage, item), t('edit_site'), 'glyphicon-globe') %></li>
    <li>
      <% activation_link = send("author_site_storage_site_version_#{item.activated? ? 'de' : ''}activate_path", item.author_site_storage, item) %>
      <%= link_to_icon(activation_link, t("site_version_#{item.activated? ? 'de' : ''}activate"),
                       "glyphicon-thumbs-#{item.activated? ? 'down' : 'up'}",
                       nil, :put) %>
    </li>
    <li><%= link_to_icon(publish_path(item.author_site_storage, item), t('publish'), 'fa fa-bolt', nil, :put) %></li>
    <li><%= link_to_destroy(item, item.version) %></li>
  </ul>
</div>