<div class="menu btn-group pull-right">
    <%= link_to(edit_author_site_version_path(item), class: 'btn btn-success btn-xs') do %>
        <i class="fa fa-code-fork"></i>
        <%= t('edit_site_version') %>
    <% end %>
    <button class="btn btn-warning btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-cog"></span>
        <%= t('options') %>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right">
        <li><%= link_to_icon(author_site_versions_path, t('sites_versions'), 'fa fa-code-fork') %></li>
        <li><%= link_to_icon(edit_author_site_storage_path(item.author_site_storage), t('edit_site'), 'glyphicon-globe') %></li>
        <li>
            <% activation_link = send("author_site_storage_site_version_#{item.activated? ? '' : 'de'}activate_path", item.author_site_storage, item) %>
            <%= link_to_icon(activation_link, t("site_version_#{item.activated? ? 'de' : ''}activate"),
                             "glyphicon-thumbs-#{item.activated? ? 'down' : 'up'}",
                             nil, :put) %>
        </li>
        <li><%= link_to_destroy(item, item.version) %></li>
    </ul>
</div>