<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Site</th>
    <th>Version</th>
    <th>Updated</th>
    <th>Created</th>
    <th>Destroy</th>
  </tr>
  </thead>
  <tbody>
  <% @author_site_versions.each do |author_site_version| %>
      <tr <%= author_site_version.activated ? 'class=activated' : '' %>>
        <td><%= author_site_version.id %></td>
        <td><%= author_site_version.author_site_storage.try(:key) %></td>
        <td class="name c"><%= link_to author_site_version.version, edit_author_site_version_path(author_site_version) %></td>
        <td class="c"><%= localize(author_site_version.updated_at, format: :long) %></td>
        <td class="c"><%= localize(author_site_version.created_at, format: :long) %></td>
        <td class="c"><%= link_to_destroy(author_site_version, author_site_version.version) %></td>
      </tr>
  <% end %>
  </tbody>
</table>