<ul class="admin-navigation inner">
  <% @author_site_versions.each do |author_site_version| %>
      <% style = author_site_version.activated ? ' class=activated' : '' %>
      <li<%= style %>>
        <%= link_to author_site_version.author_site_storage.try(:key), edit_author_site_version_path(author_site_version) %>
        <h4><%= localize(author_site_version.created_at, format: :long) %></h4>

        <h3><%= author_site_version.version %></h3>

        <div>
          <div>
            <ul class="menu arrow_box">
              <li><%= link_to t('edit'), edit_author_site_version_path(author_site_version) %></li>
              <% if params[:site_storage_id].nil? %>
                  <li><%= link_to t('show_all'), author_site_storage_site_versions_path(author_site_version.author_site_storage) %></li>
              <% else %>
                  <li><%= link_to_destroy(author_site_version, author_site_version.version) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </li>
  <% end %>
</ul>