<%= form_for(item) do |f| %>

    <%= render_notification(item) %>
    <%= render_text_field(f, :name_index) %>
    <%= render_text_field(f, :name_value) %>
    <div class="panel-footer m-20">
        <%= cancel_button -%>
        <%= render_submit(f) -%>
    </div>

<% end %>
