<p id="notice"><%= notice %></p>

<p>
  <strong>Site:</strong>
  <%= @author_history.site_id %>
</p>

<p>
  <strong>Data:</strong>
  <%= @author_history.data %>
</p>

<%= link_to 'Edit', edit_author_history_path(@author_history) %> |
<%= link_to 'Back', author_histories_path %>
