<%= form_for(@author_site) do |f| %>
  <% if @author_site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author_site.errors.count, "error") %> prohibited this author_site from being saved:</h2>

      <ul>
      <% @author_site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.text_area :data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
