<% item_info = (defined? item_info).nil? ? 0 : item_info %>
<div class="small-box <%= item_info > 0 ? item_box : 'bg-gray' %>">
  <div class="inner">
    <h3><%= item_info %></h3>
    <p><%= item_title %></p>
  </div>
  <div class="icon">
    <i class="glyphicon <%= item_icon %>"></i>
  </div>
  <%= link_to item_path, class: 'small-box-footer clearfix' do %>
      <%= t('more_info') %> <i class="fa fa-arrow-circle-right"></i>
  <% end %>
</div>