<% item_info = (defined? item_info).nil? ? nil : item_info %>
<% item_menu = (defined? item_menu).nil? ? nil : item_menu %>
<% item_edit_path = (defined? item_edit_path).nil? ? nil : item_edit_path %>
<% item_destroy_path = (defined? item_destroy_path).nil? ? nil : item_destroy_path %>
<div class="card dashboard-edit text-white <%= item_info.nil? ? 'bg-gray' : item_bg %>">
  <div class="card-body pb-0">
    <div class="btn-group float-right">
      <button class="btn btn-transparent dropdown-toggle p-0"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        <i class="icon-settings"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right"
           x-placement="bottom-end">
        <% unless item_menu.nil? %>
          <%= render "author/#{controller_name}/#{item_menu}", item: item %>
          <div class="dropdown-divider"></div>
        <% end %>
        <%= link_to_edit(item, item_edit_path, 'dropdown-item') %>
        <%= link_to_destroy(item, item_info, item_destroy_path, 'dropdown-item') %>
      </div>
    </div>
    <div class="text-value"><%= item_info.to_s %></div>
    <div class="text-description"><%= (defined? item_title).nil? ? nil : item_title %></div>
  </div>
  <div class="icon">
    <i class="fa <%= item_icon %>"></i>
  </div>
</div>