<div class="card dashboard text-white <%= item_bg %>">
  <div class="card-body pb-0">
    <%= render 'author/author/setting',
        item_path: defined?(item_path) ? item_path : nil,
        item_new: defined?(item_new) ? item_new : nil %>
    <div class="text-value"><%= item_info %></div>
    <div class="text-description"><%= item_title %></div>
  </div>
  <div class="icon">
    <i class="fa <%= item_icon %>"></i>
  </div>
</div>