<% item_info = (defined? item_info).nil? ? nil : item_info %>
<div class="small-box <%= item_info.nil? ? 'bg-gray' : item_box %>">
    <div class="inner">
        <h3><%= item_info.to_s %></h3>
        <p><%= item_title %></p>
    </div>
    <div class="icon">
        <i class="glyphicon <%= item_icon %>"></i>
    </div>
    <div class="btn-group btn-group-xs small-box-footer animated fadeIn" role="group" aria-label="Extra-small button group">
        <%= link_to_edit(item) %>
        <%= link_to_destroy(item, item_title) %>
    </div>
</div>