<ul class="admin-navigation">
  <li class="category"><%= t('sites_management') %></li>
  <li class="sites">
    <%= link_to t('sites_storage'), author_site_storages_path %>
    <span><%= @author[:site_storages] %> (<%= @author[:site_versions] %>)</span>
  </li>
  <li class="site-types">
    <%= link_to t('site_types'), author_site_types_path %>
    <span><%= @author[:site_types] %></span>
  </li>
  <li class="category"><%= t('widget_management') %></li>
  <li class="widgets">
    <%= link_to t('widgets'), author_widgets_path %>
    <span><%= @author[:widgets] %></span>
  </li>
  <li class="widget-categories">
    <%= link_to t('widget_categories'), author_widget_categories_path %>
    <span><%= @author[:widget_categories] %></span>
  </li>
</ul>