
<!--<li>-->
  <!--<%= link_to item.name, edit_author_widget_path(item) %>-->
  <!--<h6><%= item.resource %></h6>-->
  <!--<h4 title="<%= item.description %>">-->
    <!--<%= truncate(item.description, length: 50, separator: ' ') %>-->
  <!--</h4>-->
  <!--<h6><%= item.width %> x <%= item.height %></h6>-->
  <!--<%= render 'menu', item: item %>-->
<!--</li>-->