<%= form_for(item) do |f| %>
    <%= render_notification(item) %>
    <%= render_text_field(f, :resource) %>
    <%= render_text_field(f, :name) %>
    <%= render_text_area(f, :description) %>
    <%= render_text_area(f, :thumbnail) %>
    <%= image_tag item.thumbnail %>
    <%= render_number_field(f, :width) %>
    <%= render_number_field(f, :height) %>
    <div class="panel-footer m-20">
      <%= cancel_button -%>
      <%= render_submit(f) -%>
    </div>
<% end %>
<%= javascript_tag do %>
    $('#author_widget_thumbnail').on('change', function(e){$('.edit_author_widget > img').attr('src', e.target.value);});
<% end %>
