<div class="col-lg-3 col-sm-6 col-xs-12">
    <div class="small-box bg-gray">
        <div class="inner">
            <h2 title="<%= item.name %>"><%= item.name %></h2>
            <p title="<%= item.description %>"><%= item.description %></p>
            <span><%= item.width %> x <%= item.height %></span>
        </div>
        <div class="widget <%= item.resource.gsub(/\./, '-') %>"></div>
        <div class="btn-group btn-group-xs small-box-footer animated fadeIn" role="group" aria-label="Extra-small button group">
            <%= link_to_edit(item, 'btn btn-primary') %>
            <%= link_to_destroy(item, item.name) %>
        </div>
    </div>
</div>