<ul class="admin-navigation inner">
  <% @json_data[:categories].each do |category| %>
      <li class="category"><%= "#{category.name_value} (#{category.author_widgets.length})" %></li>
      <% category.author_widgets.order(name: :asc).each do |author_widget| %>
          <% if @json_data[:in].include? author_widget.id %>
              <li>
                <%= link_to author_widget.name, edit_author_widget_path(author_widget) %>
                <h6><%= author_widget.resource %></h6>
                <h4 title="<%= author_widget.description %>"><%= truncate(author_widget.description, length: 50, separator: ' ') %></h4>

                <h6><%= author_widget.width %> x <%= author_widget.height %></h6>

                <div>
                  <div>
                    <ul class="menu arrow_box">
                      <li><%= link_to t('edit'), edit_author_widget_path(author_widget) %></li>
                      <li><%= link_to_destroy(author_widget, author_widget.name) %></li>
                    </ul>
                  </div>
                  <%= image_tag author_widget.thumbnail %>
                </div>
              </li>
          <% end %>
      <% end %>
  <% end %>
</ul>