<!DOCTYPE html>
<html>
<head>
  <title>Anthill</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="application-name" content="Anthill Co.">
  <%= csrf_meta_tags %>
</head>
<body class="anthill loading">
<%= link_to 'LinkedIn', '/auth/linkedin' %>
<div class="fetcher"><%= yield %></div>
</body>
</html>