<!DOCTYPE html>
<html>
<head>
  <title>Anthill</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'author' %>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <%= csrf_meta_tags %>
</head>
<body class="admin">
<div class="fetcher">
  <header>
    <ul>
      <li class="menu">Menu</li>
      <li class="title">
        <span><%= link_to t('author_panel'), author_path %></span>
        <span>
          <% unless controller_name == 'author' %>
              &raquo;
              <%= link_to "#{controller_name.humanize}", {controller: controller_name, action: :index} %>:
              <%= link_to "#{action_name.humanize}(#{params[:id]})", {controller: controller_name, action: action_name, id: params[:id]} %>
              <%= "(#{@resource[:items]})" if action_name == 'index' %>
          <% end %>
        </span>
      </li>
    </ul>
  </header>
  <section class="panel">
    <ul>
      <% if user_signed_in? %>
          <li class="logout"><%= link_to(t('logout'), destroy_user_session_path, method: :delete) %></li>
          <li>Logged in as <%= link_to current_user.email, edit_user_registration_path %></li>
      <% end %>
    </ul>
  </section>
  <section class="content <%= controller_name %>">
    <% unless %w[sessions passwords registrations].include? controller_name %>
        <%#= render_title if action_name == 'index' %>
        <%= yield %>
    <% end %>
  </section>
</div>
</body>
</html>