<!DOCTYPE html>
<html>
<head>
  <title>Anthill</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'author' %>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <%= csrf_meta_tags %>
</head>
<body class="admin">
<div class="fetcher">
  <div class="admin-content <%= controller_name %>">
    <% unless %w(sessions, passwords).include? controller_name %>
        <%= render_title if action_name == 'index' %>
        <ul class="admin-navigation">
          <li><%= link_to 'Widgets', author_widgets_path %></li>
          <li><%= link_to 'Widget Categories', author_widget_categories_path %></li>
          <li><%= link_to 'Site storage', author_site_storages_path %></li>
          <li><%= link_to 'Site version', author_site_versions_path %></li>
          <li><%= link_to 'Site types', author_site_types_path %></li>
          <% if user_signed_in? %>
              <li class="logout"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
              <li>Logged in as <%= link_to current_user.email, edit_user_registration_path %></li>
          <% end %>
        </ul>
    <% end %>
    <div>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>