<!DOCTYPE html>
<html>
<head>
  <title>AntHill</title>
  <%= stylesheet_pack_tag 'author' %>
  <%= javascript_pack_tag 'author' %>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<% side_bar = user_signed_in? ? 'sidebar-fixed aside-menu-fixed sidebar-lg-show' : '' %>
<body class="anthill app header-fixed <%= side_bar %>">
<%= render 'partials/header' %>
<div class="app-body">
  <%= render 'partials/side_bar' if user_signed_in? %>
  <main class="main">
    <%= render 'partials/breadcrumbs' if user_signed_in? %>
    <div class="container-fluid">
      <div id="ui-view">
        <div>
          <div class="animated fadeIn"><%= yield %></div>
        </div>
      </div>
    </div>
  </main>
  <%= render 'partials/aside_menu' if user_signed_in? %>
</div>
<%= render 'partials/footer' %>
</body>
</html>