<!DOCTYPE html>
<html>
<head>
  <title>Anthill</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'author' %>
  <%= csrf_meta_tags %>
</head>
<body class="admin">
<div class="fetcher">
  <div class="admin-content">
    <div class="title">
      <h1><%= controller_name.humanize %> (<%= @resource[:items] %>)</h1>
      <%= link_to "Add #{controller_name.humanize.singularize}", @resource[:path] %>
      <p id="notice"><%= notice %></p>
    </div>
    <ul class="admin-navigation">
      <li><%= link_to 'Widgets', author_widgets_path %></li>
      <li><%= link_to 'Widget Categories', author_widget_categories_path %></li>
      <li><%= link_to 'Site storage', author_site_storages_path %></li>
    </ul>
    <div>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>