<!DOCTYPE html>
<html>
<head>
  <title>Anthill</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'author' %>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <%= csrf_meta_tags %>
</head>
<body class="anthill admin">
<div class="fetcher">
  <header>
    <ul>
      <li class="menu">Menu</li>
      <li class="title">
        <span><%= link_to t('author_panel'), author_path %></span>
        <span>
          <% unless must_authenticate(%w[author]) %>
              &raquo;
              <% action_key = "#{ah}#{ih}" %>
              <%= link_to "#{ch}", c_index %>:
              <%= link_to action_key, c_index(params[:id]) %>
              <%= "(#{@resource[:items]})" if ahi? %>
          <% end %>
        </span>
      </li>
    </ul>
  </header>
  <section class="panel">
    <ul>
      <% if user_signed_in? %>
          <li class="logout"><%= do_logout %></li>
          <li>Logged in as <%= show_user %></li>
      <% end %>
    </ul>
  </section>
  <section class="content <%= controller_name %>">
    <%= yield %>
  </section>
</div>
</body>
</html>