<!DOCTYPE html>
<html>
<head>
    <title>Anthill</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'author' %>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="anthill admin pace-done <%= 'm-0' unless user_signed_in? %>">
<div id="wrapper">
    <% if user_signed_in? %>
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="profile-element text-center"><h1 class="logo-element">AntHill</h1></div>
                        <div class="logo-element">AH+</div>
                    </li>
                </ul>

            </div>
        </nav>
    <% end %>
    <div id="page-wrapper" class="gray-bg">
        <% if user_signed_in? %>
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top lazur-bg" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-info">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <%= image_tag user_image_url, class: 'user-image', alt: user_name %>
                                <span class="text-white"><%= user_name %></span>
                            </a>
                            <ul class="dropdown-menu animated bounceIn">
                                <!-- User image -->
                                <li class="user-header">
                                    <%= image_tag user_image_url, class: 'img-circle', alt: user_name %>
                                    <p>
                                        <%= user_name %><br/>
                                        <small>Member since <%= current_user.created_at.to_formatted_s(:long) %></small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <%= do_logout %>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        <% end %>
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-left m-t-lg">
                        <%= yield %>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <% if user_signed_in? %>
                <div class="pull-right">
                    Last sign in at <strong><%= current_user.last_sign_in_at.to_formatted_s(:long) %></strong>
                </div>
            <% end %>
            <div>
                <strong>Copyright</strong> iTeam&copy; 2014-2015
            </div>
        </div>
    </div>
</div>
</body>
</html>